.titulo {
  font-size: 2rem;
  font-weight: 700;
  padding: 4rem 0 2rem 8rem;
  color: #333;
}

.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 2rem;
  font-size: 1rem;
  padding: 0 4rem;
}

.nome {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
}

.imagem {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  background-color: #777777;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(3, 3, 3, 0.05);
}

.imagem:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
}

.preco {
  color: #333;
}

@media (max-width: 1024px) and (min-width: 601px) {
  .produtos {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .produtos {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .titulo {
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}

.imagem {
  height: auto;
}

.imagem div[style*="position: relative"] {
  height: 200px;
}

@media (max-width: 600px) {
  .imagem div[style*="position: relative"] {
    height: 250px;
  }
}
