*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 4rem;
  margin: 0px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

body,
input,
textarea,
button {
  display: block;
  font-size: 1rem;
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
p,
ul {
  padding: 1rem;
  margin: 1rem;
}

ul {
  list-style: square;
}

li {
  padding: 1rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

label {
  display: block;
  margin: 0.25rem;
}

input,
textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 30rem;
  padding: 0.75rem;
  border-radius: var(--radius);
  background: #eee;
  transition: 0.2s;
  margin: 1rem;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0 0.5rem 0 0;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}

button {
  font-size: 1.125rem;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s;
  background: var(--color);
  color: var(--color-dark);
  padding: 0.6em 1.2em;
  margin-bottom: 1rem;
  line-height: 1;
}

button:hover,
button:focus {
  background: var(--color);
  box-shadow:
    0 0 0 3px var(--color-light),
    0 0 0 4px var(--color);
  outline: none;
}

button:active {
  box-shadow:
    0 0 0 3px var(--color),
    0 0 0 4px var(--color);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

hr {
  border: 2px solid #eee;
  margin: 2rem auto;
}

video {
  max-width: 100%;
  display: block;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}
li {
  text-decoration: none;
}

.flex {
  display: flex;
  gap: 1rem;
}

.header {
  padding: 10 10px;
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
