.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0px;
  padding: 0.5rem 10rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
}

.carrinho {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.carrinho::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("/assets/carrinho.svg") no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}
