.titulo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}
.titulo h1,
.titulo h2 {
  font-size: 1.5rem;
  margin-right: 0;
}
.titulo h2 {
  padding-left: 2rem;
}

.preco {
  font-size: 2rem;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: #777777;
  border-radius: 0.5rem;
  padding: 2rem;
}

.container .imagem {
  position: relative;
  align-self: center;
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 0.5rem;
}

.informacoes {
  display: grid;
  grid-template-columns: 1fr;
}

.informacoes p {
  text-align: justify;
}
.button {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .container {
    margin: 2rem;
    padding: 1.5rem;
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
  }

  .titulo h1 {
    font-size: 1.5rem;
  }

  .preco {
    font-size: 1.5rem;
  }
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.container > div:first-child {
  position: relative;
  width: 100%;
  height: 400px;
}

@media (max-width: 600px) {
  .container > div:first-child {
    height: 300px;
  }
}

.button {
  text-align: inherit;
  margin-top: 1rem;
}
